<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Auth -->
        <activity android:name=".ui.auth.DangNhapActivity" android:exported="false" />
        <activity android:name=".ui.auth.DangKyActivity" android:exported="false" />
        <activity android:name=".ui.auth.QuenMatKhauActivity" android:exported="false" />
        <activity android:name=".ui.auth.XacThucOtpActivity" android:exported="false" />
        
        <!-- Farmer -->
        <activity android:name=".ui.farmer.TrangChuNongDanActivity" android:exported="false" />
        <activity android:name=".ui.farmer.DangBanSanPhamActivity" android:exported="false" />
        <activity android:name=".ui.farmer.QuanLyBaiDangActivity" android:exported="false" />
        <activity android:name=".ui.farmer.BaiDangCuaToiActivity" android:exported="false" />
        
        <!-- Buyer -->
        <activity android:name=".ui.buyer.TrangChuThuongLaiActivity" android:exported="false" />
        <activity android:name=".ui.buyer.ChoNongSanActivity" android:exported="false" />
        <activity android:name=".ui.buyer.ChiTietSanPhamActivity" android:exported="false" />
        <activity android:name=".ui.buyer.GuiYeuCauMuaActivity" android:exported="false" />
        
        <!-- Admin -->
        <activity android:name=".ui.admin.TrangChuAdminActivity" android:exported="false" />
        <activity android:name=".ui.admin.QuanLyNguoiDungActivity" android:exported="false" />
        <activity android:name=".ui.admin.QuanTriHeThongActivity" android:exported="false" />
        
        <!-- Order -->
        <activity android:name=".ui.order.ChiTietGiaoDichActivity" android:exported="false" />
        <activity android:name=".ui.order.DanhSachGiaoDichActivity" android:exported="false" />
        <activity android:name=".ui.order.DanhSachYeuCauMuaActivity" android:exported="false" />
        
        <!-- Chat -->
        <activity android:name=".ui.chat.NhanTinActivity" android:exported="false" />
        <activity android:name=".ui.chat.DanhSachTinNhanActivity" android:exported="false" />
        <activity android:name=".ui.chat.DanhBaDoiTacActivity" android:exported="false" />
        <!-- Profile & Review -->
        <activity android:name=".ui.profile.HoSoNguoiDungActivity" android:exported="false" />
        <activity android:name=".ui.review.DanhGiaDichVuActivity" android:exported="false" />
    </application>

</manifest>